@import url('https://fonts.googleapis.com/css?family=Shrikhand|Lato&display=swap');

html {
  display: grid;
  height: 100%;
  justify-content: center;
  align-content: center;
  background: #c5a379;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}

body {
  display: grid;
  height: 100%;
  justify-content: center;
  align-content: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

header {
  grid-column: span 2;
  padding-right: 10px;
  font-size: 4rem;
  font-family: 'Shrikhand', cursive;
  color: white;
  /* box-shadow: 6px 5px; */
  filter: drop-shadow(6px 6px 0 #c21703) drop-shadow(6px 6px 0 #d8460b) drop-shadow(6px 6px 0 #f5c600) drop-shadow(6px 6px 0 #007291);
}

img {
  max-height: 300px;
  filter: drop-shadow(2px 4px 6px black);
}

blockquote {
  display: block;
  position: relative;
  height: 50%;
  margin: 0;
  padding: 1rem;
  justify-self: stretch;
  background: white;
  border-radius: 1rem;
}

blockquote::after {
  content: '';
  position: absolute;
  bottom: -70px;
  width: 125px;
  height: 70px;
  left: 20px;
  background-image: url('/path.svg');
}
